body{
    background:  #EDF2F5;
    color: #130933;
    font-family: Raleway;
}

.navbar-default{
    background: #28237A;
    border-color: #878ea3;
}

.navbar-default .navbar-nav>li>a{
	margin-top: 20px;
    color: white;
}

.navbar-default .navbar-brand{
	margin-top: 20px;
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
	background-color: white;
	color: grey;
}

.navbar-default .navbar-brand:hover{
	background-color: white;
	color: grey;
}

.navbar-default .navbar-nav .navbar-right>li>a{
    margin-top: 20px;
    color: white;
}

 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}


.jumbotron{
	box-shadow: 0px, 8px, 16px, 24px rgba(0,0,0,0.5);
	background: #B7E6E8;
	color: #161140;
}

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #22804F; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}


.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #28237A;
    color: white;
    text-align: center;
}